@page
@model YelpcampRazorPages.Pages.Campgrounds.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Campground</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Campground.CampgroundId" />
            <div class="form-group">
                <label asp-for="Campground.Title" class="control-label"></label>
                <input asp-for="Campground.Title" class="form-control" />
                <span asp-validation-for="Campground.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Campground.Location" class="control-label"></label>
                <input asp-for="Campground.Location" class="form-control" />
                <span asp-validation-for="Campground.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Campground.Teaser" class="control-label"></label>
                <input asp-for="Campground.Teaser" class="form-control" />
                <span asp-validation-for="Campground.Teaser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Campground.Body" class="control-label"></label>
                <input asp-for="Campground.Body" class="form-control" />
                <span asp-validation-for="Campground.Body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
