@model IEnumerable<YelpcampRazorPages.Models.Comment>

<h5>Comments</h5>
<hr />

<dl class="row">
    @if (Model.Count() > 0)
    {
        foreach (var comment in Model)
        {
            <dd class="col-sm-12">@comment.Body</dd>
        }
    }
    else
    {
        <dd class="col-sm-12">No comments.</dd>   
    }
</dl>
